{
    "interval": "1h",
    "trade_type": "usdt_perp",
    "funding_rate": true,
    "num_candles": 10000,

    "msg_sender": {
        "type": "wechat_work",
        "error": {
            "webhook_url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=a3a5474a-8ee3-43ca-bf3c-f535ba2447de"
        }
    }
}